@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>What's Project Angiris</h1>
    <p>
        Proof-Of-Concept of Backend(Crawler)-as-a-Service (BaaS) on Azure
    </p>
    <p>
        ● Crawling external resources on-demand or by schedule with pre-defined logics and rules
    </p>
    <p>
        ● Storing and indexing entities in NoSQL database
    </p>
    <p>
        ● A distributed Azure solution with high scalability & availability
    </p>
    <p>
        ● Hosting an agent farm to handle extensible crawlers and query-tasks asynchronously
    </p>


    <p><a class="btn btn-default" href="https://github.com/rangeryu">Learn more &raquo;</a>
    </p>

    <p>
        API Management Dev portal: <a href="https://angirisdemo.portal.azure-api.net" target="_blank">https://angirisdemo.portal.azure-api.net</a>
    </p>
</div>

<div class="row">

    <div class="col-md-6 ">
        <img class="img-responsive" src="~/Images/Overview.PNG" />
    </div>
    <div class="col-md-6 ">
        <img class="img-responsive"  src="~/Images/SlnArch.PNG" />
    </div>
 
</div>